{
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathPrefix": "~",
            "rootPathSuffix": "src"
          }
        ]
      }
    ],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
  ]
}
